body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background: linear-gradient(to right, blue, rgb(34, 27, 69));
    padding: 20px 10px;
    overflow: hidden;
    color: white;

}

main{
    display: flex;
}

.search  #searchButton{
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.searchBtn{
    width: 300px;
    height: 20px;
}  


#searchHistory{
    display: flex;
    flex-direction: column;
}

.today {
    border-style: solid;
    border-color: grey;
    margin-left: 25px;
}

.today, #forecast {
    padding-left: 15px ;
}

.outlook {
    width: 175px;
    height: 175px;
    background-color:rgb(73, 73, 98);
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.icon {
    width: 50px;
    height: 50px;
}

.card-text {
    margin: 10px;
}

.card-title {
    margin: 10px;
}

.btn {
    width: 200px;
    height: 40px;
    margin: 10px;
}

.indicator {
    background-color: chartreuse;
}

.uvIndicator {
    width: 10px;
    height: 10px;
}

#newCity{
    margin: 15pt;
}

