body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    box-sizing: border-box;

}

header {
    background: linear-gradient(to right, blue, rgb(34, 27, 69));
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 50px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.search  #searchButton{
    display: flex;
    flex-direction: column;
}

.searchBtn{
    width: 300px;
    height: 20px;
}  


#searchHistory{
    display: flex;
    flex-direction: column;
}

.today {
    border-style: solid;
    border-width: 5pt;   
    border-color: black;
    box-sizing: content-box;
}

.today, #forecast {
    padding-left: 10px ;
}

.outlook {
    width: 185px;
    height: 270px;
    background-color:rgba(42, 53, 100, 0.943);
    margin: 5px;
    display: inline-flex;
    color: white;
    padding-left: 10px ;
    border-style: solid;
    border-width: 5pt;   
    border-color: black;
}

.icon {
    width: 25px;
    height: 25px;
}

.card-text {
    margin: 10px;
}

.card-title {
    margin: 10px;
}

.btn {
    border: 10px solid black;
}

.indicator {
    background-color: rgb(149, 178, 120);
}

.uvIndicator {
    width: 20px;
    height: 20px;
}

#newCity{
    width: 250px;
    height: 40px;
margin: 5pt;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }